
body {
    height: 100vh;
    width: 100vw;
    background-color: #282c34; /* dark gray */
    color: #a9b7c6; /* vibrant light blue */
    text-align: center; /* center text all text*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tittle{
    display: inline-block;
    position: absolute 0px;
    width: 100vw;
    margin: 0px;
    margin-top: 0.5em;
}

#game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 2em;
    width:fit-content;
}

.cell {
    width: 8vw;
    height: 8vw;
    border: 2px solid #a9b7c6;
    box-shadow: 0 0 0 2px;
    background-color: #32363e;
    line-height: 8vw; /* center text vertically */
    font-size: calc(8vw * 0.7);
    cursor: pointer;
}

#status, #reset {
    margin: 10px;
    color: #a9b7c6;
    background-color: #32363e;
    border: 2px solid #a9b7c6;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#status{
    font-size: 1.5em;
}

#reset{
    font-size: 1em;
}