body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.list_container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li:first-child{
    background-color: #fce189;
    border: 1px solid #fffb00;
}

ul li:first-child .buttons_set{
    display: none;
}

input{
    all:unset;
}

.list_singleuser {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}

.editable_user_data_form {
    display: flex;
    width: 80%;
    padding: 5px 0;
}

.user_data_keys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
}

.user_data_keys span {
    display: block;
}

.user_data_keys label {
    display: block;
}

.user_data_values {
    width: 50%;
}

.user_data_values_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.user_data_values input:disabled{
    all: unset;
    display: block;
}

.user_data_values_container.enabled{
    background-color: #e0e0e0;
    border-radius: 5px;
}


.user_data_values input:focus{
    background-color: #e8e8e8;
    border: 1px solid #4CAF50;
}


.submit_new_user_data{
    display: none;
}

.submit_new_user_data.show{
    display: block;
    border: none;
    outline: none;
    background-color: #4CAF50;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.submit_new_user_data:hover{
    cursor: pointer;
}

.submit_new_user_data:hover .icon {
    transition: .3s;
    transform: scale(1.25);
}

.buttons_set{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 100%;
    align-items: center;
    gap: 10px;
}

.buttons_set button{
    padding: 0;
    font-weight: 500;
    text-align: center;
    width: 28px;
    height: 28px;
    border: none;
    background-color: #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.info_popup{
    display: none;
    position: absolute;
    margin: 0;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: #fff;
}


.modal {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
}

.modal_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    gap: 20px;
}

.modal button{
    all: unset;
    padding: 5px 10px;
    background-color:#4CAF50;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.modal button:hover{
    background-color: #45a049;
}