body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 0;
    color: #4CAF50;
    text-align: center;
    margin: 1.4rem;
}

a {
    color: #4CAF50;
    font-style: italic;
}

.login_container {
    max-width: 400px;
    width: 100%;
    min-width: 200px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    height: 100%;
    box-sizing: border-box;
}

.login_form h2 {
    text-align: center;
    font-weight: 800;
    margin: 50px 0;
}

.login_form label {
    align-self: center;
    text-align: baseline;
    font-size: 1.2em;
    width: 70%;
    margin: 15px 0 0 0;
    font-weight: 400;
}

.input_field {
    align-self: center;
    width: 70%;
    height: 1.5em;
    border-radius: 15px;
    border: none;
    padding: 0 1em;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #e8e8e8;
    font-weight: 300;
    margin: 5px 0;
}

.button {
    align-self: center;
    padding: 10px 15px;
    margin: 45px 0 30px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.login_form p {
    text-align: center;
    text-wrap: wrap;
}

.button:hover {
    background-color: #45a049;
}

.input_field:focus {
    outline: none;
    border: 1px solid #4CAF50;
}