body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position: absolute;
    top: 0;
    color: #4CAF50;
    text-align: center;
    margin: 1.4rem;
}

a {
    color: #4CAF50;
    font-style: italic;
}
.register_container{
    max-width: 500px;
    width: 100%;
    min-width: 200px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20% 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    height: 100%;
    box-sizing: border-box;
}

.register_form h2{
    text-align: center;
    font-weight: 800;
    margin: 50px 0;
}


.register_form label{
    align-self: center;
    text-align: baseline;
    font-size: 1.2em;
    width: 70%;
    margin: 15px 0 0 0;
    font-weight: 400;
}

.password_container{
    align-self: center;
    width: 70%;
    position: relative;
    margin: 5px 0;
}

.password_field{
    width: 100% !important; 
}

.input_field{
    align-self: center;
    width: 70%;
    height: 1.5em;
    border-radius: 15px;
    border: none;
    padding: 0 1em;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #e8e8e8;
    font-weight: 300;
}

.showPassword{
    display: none;
}

.showPassword.show{
    display: block;
    all: unset;
    height: 90%;
    width: min-content;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.showPassword img{
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;
}

.button{
    align-self: center;
    padding: 10px 15px;
    margin: 45px 0 30px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.register_form p{
    text-align: center;
    text-wrap: wrap;
}

.button:hover {
    background-color: #45a049;
}

.input_field:focus{
    outline: none;
    border: 1px solid #4CAF50;
}

