*{
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color:#30343F;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

h1{
    color: #E4D9FF;
    display: inline-block;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    font-weight: 900;
}

.register_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register_form{
    width: 50vw;
    height: 70vh;
    background-color: #1E2749;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.register_form h2{
    text-align: center;
    color: #FAFAFF;
    font-weight: 700;
}


.register_form label{
    align-self: center;
    text-align: baseline;
    color: #FAFAFF;
    font-size: 1.2em;
    width: 70%;
    font-weight: 400;
}

.input_field{
    align-self: center;
    width: 70%;
    height: 1.5em;
    border-radius: 10px;
    border: none;
    padding: 0 1em;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #1E2749;
    border: 1px solid #FAFAFF;
    color: #FAFAFF;
    font-weight: 300;
}

.button{
    align-self: center;
    width: max-content;
}

.register_form p{
    text-align: center;
    color: #FAFAFF;
}

#login{
    color: #E4D9FF;
    font-style: italic;
}

